<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- <script src="./plugins/heading.js"></script> -->
    <title>Document</title>
    <style>
      .active {
        background-color: rgb(235, 132, 132);
      }
      .message-box {
        padding: 10px 20px;
      }
      .success {
        background-color: #4fc08d;
        border: 1px solid #42b983;
      }
      .warning {
        background-color: #f66;
        border: 1px solid #d63200;
      }
      .message-box-close {
        float: right;
      }
    </style>
  </head>
  <body>
    <div id="app">
      hello {{message}}
      <h2 v-bind="title">{{title}}</h2>
      <message :show.sync="showWarning" ref="msgWarning" class="warning">
        <template v-slot:default>
          <strong>请输入课程名称</strong>
        </template>
      </message>

      <!-- <message :show="show" @close="show=$event">新增课程成功</message> -->
      <message :show.sync="show" ref="msgSuccess" class="success">
        <template v-slot:title="slotProps">
          <strong>恭喜 {{slotProps.title}}</strong>
        </template>
        <template v-slot:default> {{title}} 新增课程成功 </template>
      </message>

      <div>课程数：{{total}}</div>
      <div>课程数：{{totalCount}}</div>

      <course-list :courses="courses"></course-list>

      <course-add @add-course="addCourse" v-model="course"></course-add>
      <!-- <course-add :value="course" @input="course=$event"></course-add> -->

      <!-- 批量更新商品价格 -->
      <p><input type="text" v-model.number="price" /> <button @click="batchUpdate">更改价格</button></p>

      <!-- 使用render方法实现heading组件 -->
      <heading level="2" :title="title">{{title}}</heading>

      <!-- toolbar -->
      <div class="toolbar" v-permission="'admin'">
        <button @click="$bus.$emit('message-close')">清空提示框</button>
      </div>
    </div>

    <script>
      import myPlugin from './plugins/heading'
      console.log('myPlugin', myPlugin)

      const helloMixin = {
        created() {
          this.hello()
        },
        methods: {
          hello() {
            console.log('say hello')
          },
        },
      }
      Vue.prototype.$bus = new Vue()

      // 弹窗组件
      Vue.component('message', {
        // props: ['show'],
        mixins: [helloMixin],
        data() {
          return {
            show: false,
          }
        },
        template: `
        <div class='message-box' v-if='show'>
          <!-- 具名插槽 -->
          <slot name='title' title='来子message的标题'/>
          <slot/>
          <span class='message-box-close' @click='toggle'>×</span>
        </div>
        `,
        mounted() {
          this.$bus.$on('message-close', () => {
            // this.$emit('update:show', false)
            // this.show = false
            this.toggle()
          })
        },
        methods: {
          toggle() {
            this.show = !this.show
          },
        },
      })

      // 课程新增组件
      Vue.component('course-add', {
        props: ['value'],
        template: `
        <div>
          <input type="text" ref='input' v-focus :value="value" @input="onInput" v-on:keydown.enter="addCourse" />
          <button @click="addCourse">新增</button>
        </div>
        `,
        methods: {
          addCourse() {
            this.$emit('add-course')
          },
          onInput(e) {
            this.$emit('input', e.target.value)
          },
        },
        mounted() {
          // this.$refs.input.focus()
        },
      })

      Vue.directive('focus', {
        inserted(el) {
          el.focus()
        },
      })

      // 模拟角色
      const role = 'admin'
      Vue.directive('permission', {
        inserted(el, binding) {
          console.log(binding)
          // 若指定用户角色和当前用户角色不匹配则删除当前指定绑定的元素
          if (role !== binding.value) {
            el.parentElement.removeChild(el)
          }
        },
      })

      // 课程列表组件
      Vue.component('course-list', {
        props: {
          courses: {
            type: Array,
            default: [],
          },
        },
        data() {
          return {
            selectedCourse: '',
          }
        },
        filters: {
          currency(value, symbol = '￥') {
            return symbol + ' ' + value
          },
        },
        template: `
        <div>
          <div v-if="courses.length===0">
            暂无课程
          </div>
          <div v-else>
            <div v-for="c in courses" :key="c.name" :class="{active: selectedCourse===c?'active':''}"           @click="selectedCourse=c">
              {{c.name}} - {{c.price | currency('£')}}
            </div>
          </div>
        </div>
        `,
      })

      function getCourses() {
        return new Promise((res) => {
          setTimeout(() => {
            res([{ name: 'web' }, { name: 'javascript' }, { name: 'html5' }])
          }, 2000)
        })
      }

      const app = new Vue({
        el: '#app',
        data() {
          return {
            message: 'vuejs',
            title: '开课吧',
            courses: [],
            course: '',
            totalCount: '',
            show: false,
            showWarning: false,
            price: 0,
          }
        },
        computed: {
          total() {
            return this.courses.length + '门'
          },
        },
        watch: {
          courses: {
            immediate: true,
            handler(newValue, oldValue) {
              this.totalCount = newValue.length + '门'
            },
          },
        },
        async created() {
          const courses = await getCourses()
          this.courses = courses
          // 批量更新商品价格
          this.batchUpdate()
        },
        methods: {
          addCourse() {
            // 显示提示信息
            if (this.course) {
              this.courses.push(this.course)
              this.course = ''
              // this.show = true
              this.refs.msgSuccess.toggle()
            } else {
              // this.showWarning = true
              this.refs.msgWarning.toggle()
            }
          },
          batchUpdate() {
            this.courses.map((item) => {
              // item.price = this.price
              // this.$set(item, 'price', this.price)
              Vue.set(item, 'price', this.price)
            })
          },
        },
      })
      setTimeout(() => {
        app.message = 'kkb'
      }, 2000)
    </script>
  </body>
</html>
